<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- 控制台显示 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>[%p]%d-%msg%n</pattern>
        </layout>
    </appender>
    <!-- 按天显示 -->
    <!--<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                demo/access.%d{yyyy-MM-dd}.log
            </fileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} -%msg%n
            </pattern>
        </layout>
    </appender>-->
    <!-- 按天和大小显示 -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>demo/mylog.txt</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>demo2/mylog-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
            <!-- each file should be at most 100KB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>10240KB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <root level="error">
        <appender-ref ref="console" />
        <appender-ref ref="ROLLING" />
    </root>
</configuration>